---
    import { Image } from 'astro:assets';
    import Img from '../images/1.jpg'
---



<!-- <div class="w-full h-screen">
	<h1 class="text-yellow">Astro is 🚀 on the moon!</h1>
</div> -->
    <!-- <div class='reveal'>
		<Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
    </div>
	<div class='reveal'>
		<Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
    </div> 
	<div class='reveal'>
		<Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
    </div> -->
	<div class="container">
        <div class="img_container">
            <div class="mask">
                <Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
            </div>
        </div>
        <div class="img_container">
            <div class="mask">
                <Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
            </div>
        </div>
        <div class="img_container">
            <div class="mask">
                <Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
            </div>
        </div>
        <div class="img_container">
            <div class="mask">
                <Image src={Img} alt="LA METRO HOTEL | Luxury | Peace | Comfort | Mumbai | India" class="" />
            </div>
        </div>
    </div>
<style>
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131313;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.img_container {
    margin: 20% 0;
    width: 70%;
    position: relative;
}

.img_container:nth-child(even) {
    margin-right: 0;
    margin-left: auto;
}

img {
    height: 100%;
    width: 100%;
    transform-origin: left;
    object-fit: cover;
}

.mask {
    visibility: hidden;
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
}
</style>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

let masks = document.querySelectorAll('.mask');

masks.forEach( mask => {
    let image = mask.querySelector('img');

    let tl = gsap.timeline({
        scrollTrigger: {
            trigger: mask,
            toggleActions: "restart none none reset"
        }
    });

    tl.set(mask, {autoAlpha: 1});

    tl.from(mask, {
        xPercent: -100,
        ease: Power2.easeOut
    });
    tl.from(image, {
        xPercent: 100,
        scale: 1.3,
        delay: -1.5,
        ease: Power2.easeOut
    });
})
</script>

